
  .Fading {
    position: absolute;
    width: 100%;
    min-height: 80vh;
    top: 0px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;       
}

section {    
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    perspective: 400px;
    font-size: 400%;
    letter-spacing: 10px;
    line-height: 1.6;
    text-align: justify;       
    color: #feda4a;
}

.CrawlingContainer {  
  position: relative;  
  top: 800px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear 5s;
}

h2, h4 {
  text-align: center;
  
}

@keyframes crawl {
  0% {
    top: 800px;
    transform: rotateX(25deg) translateZ(0);      
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
    
  }
}


.Button {
  margin: 0 auto; 
  width: 10rem;
  height: 3rem;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 7%;
  border: 2px solid #fad957ef;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(51, 51, 48);  
  color: black;
  font-family: 'Oswald', sans-serif;
  text-align: center;  
  font-size: 1.3rem;   
  text-shadow: 1px 1px grey;  
  background-color:  #fad957ef;
  cursor: pointer;
  opacity: 0.05;
  animation: showbutton 3s ease-in 20s forwards; 
  transition: transform 1s ease-in-out;
}

.Button:hover {   
  transform: scale(1.1);
} 



  @keyframes showbutton {
    0%{visibility: hidden;  width: 10rem; height: 3rem; opacity: 0.05; font-size: 1.3rem; z-index: -1;}
    100%{visibility: visible; width: 15rem; height: 5rem; opacity: 1; font-size: 1.5rem; z-index: 2;}
  }






  






