.IdentityCardContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
  align-items: center;
  text-align: center;
}

@font-face {
  font-family: "Star Jedi Hollow";
  src: url("Starjhol.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


.Title {
  flex: 0 1;
  justify-self: center;
  font-family: "Star Jedi Hollow";
  color: #feda4a;
  font-size: 1.2rem;
  padding-bottom: 4rem;
  line-height: 3rem;
}

.CardBox {
  flex: 0 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CardBox > img {
  height: 20rem;
  width: 18rem;
  padding: 0 1.6rem;
  filter: grayscale(90%);
}

.CardBox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CardBox2 > img {
  height: 20rem;
  width: 18rem;
  padding: 0 1.6rem;
  filter: grayscale(45%);
}

.BackCard {
  height: 23rem;
  width: 16rem;
  cursor: pointer;
  background: rgb(114, 11, 11);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(114, 11, 11);
  filter: grayscale(90%);
  transition: filter 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.BackCard:hover {
  filter: grayscale(10%);
  transform: scale(1.03, 1.03);
}
.BackCard img {
  height: 22rem;
  width: 15rem;
}

.myIDCard {
  height: 23rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  color: beige;
  border: none;
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.082);
  box-shadow: 0 0 5px rgb(54, 54, 54);
  transition: transform 1s ease-in-out;
}

.Details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1.3rem;
  padding-left: 1rem;
  line-height: 2.2rem;
  font-size: 1rem;
}

.myIDCard:hover {
  transform: scale(1.05);
}

.myIDCard h2 {
  flex: 1 1 1; 
  align-self: center;
  padding: .7rem;
  padding-bottom: 1.2rem;
  font-family: "Star Jedi Hollow";
  font-size: 1.3rem;
}
